@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

:root {
  --font-color: orange;
}

* { margin: 0; padding: 0; border: #2aaa01 }

body {
  display: flex ;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  background: url('winter-landscape-2571788_1920.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
}
.base-form {
  position: relative;
}
.dog {
  position: relative;
  margin-top: 30px;
  /*height: 50vh;*/
}
.dog img {
  position: relative;
  width: 50vw;
  border-radius: 20px;
  border: 2px solid #3557c7;
  /*display: flex;*/
}
h1 {
  padding-top: 10px;
  text-align: center;
  font-size: 40px;
  color: #2aaa01;
}
.btn-area {
  position: relative;
  text-align: center;
}
.btn-area #dogBtn{
  width: 50%;
  height: 50px;
  background-color: mediumslateblue;
  color: white;
  font-size: 1.6rem;
  border: 0;
  border-radius: 25px;
  margin-top: 30px;
}
.btn-area #dogBtn:hover {
  background: #2aaa01;
}
